
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  text-align: center
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav a {
  padding: 10px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 350px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
  align-items: center;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
