
/* The side navigation menu */
p-panelMenu {
    height: 100%; /* 100% Full-height */
    width: 1; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in thep-panelMenu */
}

/* The navigation menu links */
p-panelMenu {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color 
p-panelMenu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}*/

/* Position and style the close button (top right corner) */
p-panelMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 8px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

