
<div class="container">
  <div [hidden]="submitted">
    <h2>Contact Form</h2>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" placeholder="Enter Your First Name" required
          [(ngModel)]="contact.firstname"
            ngControl="firstname"  #firstname="ngForm" >
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          firstname is required
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Last Name"
          [(ngModel)]="contact.lastname"
            ngControl="lastname" >
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" required
          [(ngModel)]="contact.country"
            ngControl="country" #country="ngForm" >
          <option value="" selected disabled>Select Your Country</option>
          <option *ngFor="#coun of countries" [value]="coun">{{coun}}</option>
        </select>
        <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
          Country is required
        </div>
      </div>

      <div class="form-group">
         <label for="phone">Phone Number</label>
         <input type="number" class="form-control" placeholder="Enter Your Phone Number"
            [(ngModel)]="contact.phone"
            ngControl="phone"
         >
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">Submit</button>
      <button type="button" class="btn btn-primary" (click)="newContact()">New Contact</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>Your contact details :</h2>
    <div class="well">
        <div class="row">
          <div class="col-xs-2">First Name</div>
          <div class="col-xs-10  pull-left">{{ contact.firstname }}</div>
        </div>
        <div class="row">
          <div class="col-xs-2">Last Name</div>
          <div class="col-xs-10 pull-left">{{ contact.lastname }}</div>
        </div>
        <div class="row">
          <div class="col-xs-2">Country</div>
          <div class="col-xs-10 pull-left">{{ contact.country }}</div>
        </div>
        <div class="row">
        <div class="col-xs-2">Phone Number</div>
        <div class="col-xs-10 pull-left">{{ contact.phone }}</div>
      </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit Contact</button>
    </div>
  </div>
</div>