
<!DOCTYPE html>
	<html>
	
		<h1>{{title}}</h1>

		<h2>{{heroStatic.name}} details!</h2>
		<div> <label> id: </label> {{heroStatic.id}} </div>
		<div> 
			<!-- el [(ngModel)] es para hacer el two way binding 
				el input={{hero.name}} solo way one binding
			-->

			<label> name one way binding: </label> 
			<input value="{{heroStatic.name}}" placeholder="name" />
			
			<br/>
			<label> name two way binding: </label> 			
			<input [(ngModel)]="heroStatic.name" placeholder="name" />
		</div>

		<!-- List -->
		<h1> Heroes list</h1>
		<ul class="heroes" > 
			<li *ngFor="let hero of heroes" 
				[class.selected]="hero === selectedHero"
				(click)=onSelect(hero)> 
				 <span class="badge"> {{hero.id}} </span> {{hero.name}}
			</li>
		</ul>

		<!-- if -->
		<div *ngIf="selectedHero">
			<h2>  {{selectedHero.name}} is the Selected Hero </h2>
			<div> <label>id: </label> {{selectedHero.id}} </div>
			<div>
				<label> name: </label>
				<input [(ngModel)]="selectedHero.name" placeholder="name" />
			</div>
		</div>

		<!-- Using various components-->
		<h1> Relating components</h1>
		<my-hero-detail>
				[hero]="selectedHero"
		</my-hero-detail>

	</html>