<!DOCTYPE html>
	<html>

		<h2> My heroes </h2>

		<div>
		  <label>Hero name:</label> <input #heroName />
		  <button (click)="add(heroName.value); heroName.value=''" 
		  pButton type="button" label="ADD" icon="fa-check"
		  	class="ui-button-info">
		  </button>
		</div>

		<!-- List -->
		<ul class="heroes" > 
			<li *ngFor="let hero of heroes" 
				[class.selected]="hero === selectedHero"
				(click)=onSelect(hero)> 
				 <span class="badge"> {{hero.id}} </span> 
				 <span> {{hero.name}} </span> 
				 <button class="delete"
  					(click)="delete(hero); $event.stopPropagation()">x
  				</button>
			</li>
		</ul>

		<!-- Pipes -->
		<div *ngIf="selectedHero">
		  <h2>
		    {{selectedHero.name | uppercase}} is my hero
		  </h2>
		  <button  pButton type="button" label="View Details"
		  	class="ui-button-info" (click)="gotoDetail()">
		  </button>
		</div>

	</html>
	