<!DOCTYPE html>

<html>
  <h1>{{title}}</h1>

  <p-panelMenu [model]="items" styleClass="static/side-menu.css">
    </p-panelMenu>

  <nav >
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>
  
  <router-outlet></router-outlet>

</html>
